/*-----------------------*\
        Index
\*-----------------------*/
.bloc{
    height: 150px;
    line-height: 130px;
}

@media (max-width: 1000px) {
    img{
        width: 75px;
        height: 75px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    img{
        width: 125px;
        height: 125px;
    }
}

@media (min-width: 1200px) {
    img{
        width: 150px;
        height: 150px;
    }
}

.logo{
    width: 150px;
    height: 150px;
    border-style: double;
    border-color:black;
    border-width:5px;
    position:absolute;

}

/* media index */ 
@media screen {
    .logo{
        left:5px;
        top: 5px
    }

    #accueil {
    padding-top: 150px;
}

}

@media (max-width: 768px) {
    .logo{
        left:calc(50% - 75px);
    }

    #accueil {
    padding-top: 170px;
    }
}

#accueil {
    padding-top: 150px;
}

.card{
    padding: 10px;
}

img{
   /* padding: 10px;*/
}

.rubrique{
    border-style: solid;
    border-color:black;
    border-width:2px;
    margin: 10px;
}

.list-checkbox{
    min-height: 200px;
}

.none{
    margin:unset;
}

/*-----------------------*\
        Article
\*-----------------------*/
.img_ingredient{
     max-width: 100%;
     border: 1px solid #848484;
}

.description_ingredient{
    margin-top: 1.5em;
}

.value_ingredient{
    margin-top: 1em;
}


@media (max-width: 768px) {

    .img_ingredient{
     max-height: 100%;
     border: 1px solid #848484;
    }

 }


/*-----------------------*\
        edition_cmd
\*-----------------------*/

.box_edition {
   border: 1px solid #848484;
}

/* edition_cmd + recap */
.rubrique{
    border-style: solid;
    border-color:black;
    border-width:2px;
    margin: 10px;

}

.tittle{
    padding-top: 5px;
    padding-left: 5px;
}

@media (max-width: 1000px) {
    img{
        width: 75px;
        height: 75px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    img{
        width: 125px;
        height: 125px;
    }
}

@media (min-width: 1200px) {
    img{
        width: 150px;
        height: 150px;
    }
}

