.bloc{
    height: 150px;
    line-height: 130px;
}

.logo{
    width: 150px;
    height: 150px;
    border-style: double;
    border-color:black;
    border-width:5px;
    position:absolute;
    left:5px;

}


.container{
    padding-top:150px;

}