/*-----------------------*\
        Index
\*-----------------------*/
.bloc{
    height: 150px;
    line-height: 130px;
}

.logo{
    width: 150px;
    height: 150px;
    border-style: double;
    border-color:black;
    border-width:5px;
    position:absolute;

}

/* media index */ 
@media screen {
    .logo{
        left:5px;
        top: 5px
    }

    #container_index {
    padding-top: 150px;
}

}

@media (max-width: 768px) {
    .logo{
        left:calc(50% - 75px);
    }

    #container_index {
    padding-top: 170px;
    }
}


/*-----------------------*\
        Article
\*-----------------------*/
.img_ingredient{
     max-width: 100%;
        border: 1px solid #848484;
}

.description_ingredient{
    margin-top: 1.5em;
}

.value_ingredient{
    margin-top: 1em;
}

